<?xml version="1.0" encoding="UTF-8"?>
<AAAR>

 <!-- Alfresco parameters -->
 <parameter name="alfrescoAuditLimit"   value="50000"> </parameter>
 <parameter name="alfrescoFtpPath"      value="alfresco"> </parameter>
 <parameter name="alfrescoFtpPort"      value="121"> </parameter>
 <parameter name="alfrescoHost"         value="localhost"> </parameter>
 <parameter name="alfrescoLogin"        value="admin"> </parameter>
 <parameter name="alfrescoPassword"     value="admin"> </parameter>
 <parameter name="alfrescoPort"         value="8080"> </parameter>
 <parameter name="alfrescoProtocol"     value="http"> </parameter>
 <parameter name="alfrescoType"     value="Alfresco_5_0"> </parameter>

 <!-- Database parameters -->
 <parameter name="databaseBin"          value="/usr/bin"> </parameter>
 <parameter name="databaseHost"         value="localhost"> </parameter>
 <parameter name="databaseLogin"        value="postgres"> </parameter>
 <parameter name="databasePassword"     value="postgres"> </parameter>
 <parameter name="databasePort"         value="5432"> </parameter>
 <parameter name="databaseSchemaAAAR"   value="AAAR_DataMart"> </parameter>
 <parameter name="databaseSchemaKettle" value="AAAR_Kettle"> </parameter>
 <parameter name="databaseSchemaMain"   value="postgres"> </parameter>
 <parameter name="databaseType"         value="PostgreSql"> </parameter>

 <!-- Kettle parameters -->
 <parameter name="kettlePath"           value="/opt/data-integration"> </parameter>
 <parameter name="kettleVersion"        value="5"> </parameter>

 <!-- Pentaho parameters -->
 <parameter name="pentahoAAARPath"      value="/public/AAAR"> </parameter>

 <!-- A.A.A.R. parameters -->
 <parameter name="AAARExportType"       value="Get all"> </parameter>
 <parameter name="AAARExportGetParents" value="true"> </parameter>

</AAAR>

